fastapi
uvicorn[standard]
streamlit
requests
python-dotenv
pydantic
psycopg2-binary
pandas
pymupdf
langchain
langchain-core
langchain-community
langchain-openai
langchain-experimental
langchain-huggingface
langchain-text-splitters
langchainhub
langgraph
sentence-transformers
pinecone>=7.0.0
langchain-pinecone
openai
